@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

:root{
    --bg-color: #1c1a26;

    --color-main: #d0bcff;
    --color-main-2: #cdc2dc;
    --color-main-3: #efb8c9;
    --color-main-4: #f3b8b5;

    --color-black: #000000;
    --color-white: #ffffff;
    
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: var(--bg-color);
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body
  {   
      min-height: 100vh ;
      overflow-x: hidden;
  }

  /* Index */
  .bg-color{
    background: linear-gradient(#261055, #7597de);

  }
  header
  {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 30px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1000;

  }
  header .logo
  {
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      font-size: 2em;
      text-transform: uppercase;
      letter-spacing: 2px;
  }
  header ul
  {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  header ul li
  {
      list-style: none;
      margin-left: 20px;
  }
  header ul li a
  {
      text-decoration: none;
      color: #fff;
      padding : 6px 15px;
      border-radius: 20px ;
  }
  header ul li a:hover,
  header ul li a.active
  {
      background: #fff;
      color: #2b1055;
  }

  .main_page{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main_page::before
  {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 10000;
  }

  .main_page img{
    position: absolute;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
  }

  .main_page img#main_page_moon
  {
      mix-blend-mode: screen;
  }

  .main_page img#main_page_mountains_front
  {
      z-index: 9 ;
  }

  #main_page_text
  {
      position: absolute;
      color: #fff;
      white-space: nowrap;
      font-size: 7.5vw;
      z-index: 10;
  }
  #main_page_btn
  {
      text-decoration: none;
      display: inline-block;
      padding: 8px 30px;
      border-radius: 40px;
      background: #fff;
      color: #2b1055;
      font-size: 1.5em;
      transform: translateY(100px)

  }
  .sec
  {
      position: relative;
      padding: 100px;
      background: #1c0522;

  }
  .sec h2 
  {
      color: #fff;
      font-size: 3.5rem;
      letter-spacing: 2px;
      margin-bottom: 10px;
  }
  .sec p
  {
      color: #fff;
      font-size: 1.2rem;
      margin-bottom: 10px;
  }

/* Schedule */

    #main{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #1c0522;
        height: 100vh;
    }

    .main__title{
        font-size: 7rem;
        color: var(--color-main-3)
    }

    .main__subtitle{
        font-size: 3rem;
        color: var(--color-main-4);
    }

    /* .main__subtitle-1{
        font-size: 4rem;
        color: var(--color-main-4);
    } */

    .btn {
        height: 4rem;
        width: 20rem;
        border-radius: 10rem;
        font-size: 2rem;
        margin: 2rem;
        background-color: transparent;
        border-color: transparent;
        color: var(--color-white);
        text-align: center;
    }

    .btn:hover{
        background-color: rgba(255, 255, 255, 0.2);
        transition: .5s;
    }
    .form{
        transition: fade-in 1s;
    }

    .form__input{
        text-align: center;
        height: 3rem;
        width: 20rem;
        margin: 3rem;
        border-radius: 10rem;
    }

    .arrow{
        background-color: transparent;
        color: var(--color-white);
        border-color: transparent;
    }

    #hello{
        transition: all 1s;
        display: none;
    }

    #schedule{
        display: none; 
    }

    #primaryTask{ 
        display: none; 
    }

    #secondaryTask{
        display: none;
      }

    .radioForm{
        font-size: 3rem;
        color: var(--color-main-4);
    }

    input[type="radio"] {
        appearance: none;
        margin-left: 3rem;
        font: inherit;
        color: currentColor;
        width: 2rem;
        height: 2rem;
        border: 0.15em solid currentColor;
        border-radius: 50%;
      }

      input[type="radio"]:checked{
        background-color: var(--color-main-4);
      }

      #container {
        margin: 2rem;
        display: none;
        flex-direction: column;
        height: 20rem;
      }
      
      .card {
        border-radius: 2rem;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        width: 50rem;
        height: 26rem;
        background-color: var(--color-main-4);
        padding: 10px 30px 40px;
      }
      
      .card h3 {
        font-size: 22px;
        font-weight: 600;
        color: var(--color-black);
      }
      
      .drop_box {
        margin: 10px 0;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: 3px dotted var(--color-black);
        border-radius: 5px;
      }
      
      .drop_box h4 {
        font-size: 16px;
        font-weight: 400;
        color: var(--color-black);
      }
      
      .drop_box p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 12px;
        color: var(--color-black);
      }
      
      .file-btn {
        text-decoration: none;
        background-color: #005af0;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        outline: none;
        transition: 0.3s;
      }
      
      .file-btn:hover{
        text-decoration: none;
        background-color: #ffffff;
        color: #005af0;
        padding: 10px 20px;
        border: none;
        outline: 1px solid #010101;
      }

      #file_upload{
        height: 2rem;
      }
      .form input {
        margin: 10px 0;
        width: 100%;
        background-color: #e2e2e2;
        border: none;
        outline: none;
        padding: 12px 20px;
        border-radius: 4px;
      }

      #p-task-form, #s-task-form{
        color: var(--color-white);
        font-size: 2rem;
        margin: 2rem;
        text-align: left;
      }

      #p-tasks .task,
      #s-tasks .task {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        background-color: rgba(0,0,0,.2);
      }


      .task-card-1{
        background-color: transparent;
        border-color: transparent;
        color: var(--color-white);
        display: flex;
      }

      .text{
        font-size: 3rem;
      }

      .time{
        font-size: 1rem;
      }



      
  
