<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.css')}}">

    <title>About the team</title>
</head>

<body>
    <header>
        <a href="#"><img src="{{ url_for('static', filename='src/logo.png')}}" class="logo"></a>
        <div class="nav-options">
            <a href="/" class = "active" > Home </a>
            <a href="about.html">About Us</a>
        </div>
    </header>
    <div class="container">
        <div class="icon">
            <div class="imgBx" style="--i:1;" data-id="content1">
                <img src="{{ url_for('static', filename='src/random4.jpeg') }}">
            </div>
            <div class="imgBx" style="--i:2;" data-id="content2">
                <img src="{{ url_for('static', filename='src/random6.jpeg') }}">
            </div>
            <div class="imgBx" style="--i:3;" data-id="content3">
                <img src="{{ url_for('static', filename='src/random5.jpeg') }}">
            </div>
            <div class="imgBx" style="--i:4;" data-id="content4">
                <img src="{{ url_for('static', filename='src/random1.jpeg') }}">
            </div>
            <div class="imgBx" style="--i:5;" data-id="content5">
                <img src="{{ url_for('static', filename='src/random2.jpeg') }}">
            </div>
            <div class="imgBx" style="--i:6;" data-id="content6">
                <img src="{{ url_for('static', filename='src/random3.jpeg') }}">
            </div>
        </div>

        <div class="content">
            <div class="contentBx active" id="content1">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random4.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Abdul<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contentBx" id="content2">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random6.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Dhruv<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contentBx" id="content3">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random5.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Krupal<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contentBx" id="content4">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random1.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Malhar<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contentBx" id="content5">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random2.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Mike<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="contentBx" id="content6">
                <div class="card">
                    <div class="imgBx">
                        <img src="{{ url_for('static', filename='src/random3.jpeg') }}">
                    </div>
                    <div class="textBx">
                        <h2>Vaish<br><span>Co-founder</span></h2>
                        <ul class="sci">
                            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-telegram"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <script>
        let imgBx = document.querySelectorAll('.imgBx')
        let contentBx = document.querySelectorAll('.contentBx')

        console.log(imgBx.length, contentBx.length);
        for(let i=0; i < imgBx.length; i++){
            imgBx[i].addEventListener('mouseover', function(){
                for(let i=0; i < contentBx.length; i++){
                    contentBx[i].className = 'contentBx';
                }
                document.getElementById(this.dataset.id).className = 'contentBx active';


                for(let i=0; i < imgBx.length; i++){
                    imgBx[i].className = 'imgBx';
                }
                this.className = 'imgBx active';
            })
        }
    </script>
</body>
</html>
