<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}">
</head>
<body class="bg-color">
    <header>
        <a href="#"><img src="{{ url_for('static', filename='src/logo.png')}}" class="logo"></a>
        <div class="nav-options">
            <a href="#" class = "active" > Home </a>
            <a href="about.html">About Us</a>
        </div>
    </header>
    <section class="main_page">
        <img src="{{ url_for('static', filename='src/stars.png') }}" id="main_page_stars">
        <img src="{{ url_for('static', filename='src/moon.png') }}" id="main_page_moon">
        <img src="{{ url_for('static', filename='src/mountains_behind.png') }}" id="main_page_mountains_behind">
        <h2 id="main_page_text"> Scheduler </h2>
        <form action="schedule.html" method="GET">
            <button type="submit" id="main_page_btn">Start</button>
        </form>
        <img src="{{ url_for('static', filename='src/mountains_front.png') }}" id="main_page_mountains_front">
    </section>

    <div class="sec" id = "sec">
        <h2 class="heading">About us</h2>
        <p>
            This scheduler website is a digital platform designed to help users manage their time, appointments, and tasks more efficiently. It typically offers a user-friendly interface where individuals or organizations can create, view, and organize their schedules. Users can input events, meetings, and deadlines, and the scheduler website will assist in visualizing and organizing their  weekly
        </p>
    </div>
    <script>
        let stars = document.getElementById('main_page_stars');
        let moon = document.getElementById('main_page_moon');
        let mountains_behind = document.getElementById('main_page_mountains_behind');
        let text = document.getElementById('main_page_text');
        let btn = document.getElementById('main_page_btn');
        let mountains_front = document.getElementById('main_page_mountains_front');
        let header = document.querySelector('header');
        window.addEventListener('scroll', function(){
            let value = window.scrollY;
            stars.style.left = value *2 + 'px';
            moon.style.top = value *1 + 'px';
            mountains_behind.style.top = value *0.1+ 'px';
        })  
    </script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>