<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="navigation">
        <a href="#">Home</a>
        <a href="#about">About</a>
    </div>

    <div class="main">
        <h1 class="main__title">Scheduler</h1>
        <p class="main__subtitle"> Create a schedule easily ... </p>
        <!-- <p class="main__subtitle-1"> Click Generate to get started </p> -->
        <form action="schedule.html" method="GET">
            <button type="submit" class="btn">Start</button>
        </form>
    </div>

    <script src="script.js"></script>
</body>
</html>