<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="body-container flex-container">
        <!-- Success -->
        <div id="form">
            <p class="main__subtitle">Enter your name for a personalized experience?</p>
            <form id="nameForm" action="#hello">
                <input type="text" id="name" name="name" class="form__input" placeholder="John Doe"><br>
                <label for="name"></label>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>
        
        <!-- Success -->
        <div id="hello" class="main__title">
            <p></p>
        </div>
    
        <div id="schedule">
            <p class="main__subtitle"> Do you have an existing schedule </span>
            <form class="radioForm" action="/change" id="change" method=POST>
                <input type="radio" id="round-btn" value="yes" name="check">
                   <label for="yes">Yes</label>
                <input type="radio" id="round-btn" value="no" name="check" checked="checked">
                   <label for="no">No</label><br>
            </form>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div id="container">
                    <div class="card">
                        <h3>Upload Files</h3>
                        <div class="drop_box">
                            <h4>Select File here</h4>
                            <p>Files Supported: .ics</p>
                            <input type="file" name="file" accept=".ics"/>
                            <input type="submit" value="Upload" class="file-btn" >
                        </div>
                    </div>
                </div>
            </form>
            <form id="schedule_submit">
                <button type="submit" class="btn"><a href="tasks.html">Submit</a></button>
            </form>
        </div> 
    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>